body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}
header {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos para el logo */
header .logo img {
    width: 100px;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #232851;
}

.contacto {
    background-color: #8B48BF;
    border-radius: 50px;
    padding: 15px;
}

/* Estilos para el botón de contacto */
.boton-contacto {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.seccion-alta {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.contenedor-imagen {
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-texto {
    flex: 40%;
    max-width: 40%;
    margin-right: 130px;
}
.contacto-2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #8B48BF;
    border-radius: 50px;
    padding: 15px;
    float: right;
}
.contenedor-texto h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #232851;
    font-size: 50px; 
    text-align: right;
}

.contenedor-texto h4 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
.seccion-central {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #8B48BF;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.contenedor-h2 {
    font-size: 25px;
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 90px;
}

.contenedor-h5 {
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    margin-right: 90px;
    margin-left: 40px;
}

.contenedor-h2 h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

.contenedor-h5 h5 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white; 
}

.best {
    text-align: center; 
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #232851;
    font-size: 35px;
    margin-top: 90px; 
}

.tarjetas-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 90px;
    background-color: #f2f2f2;
    padding: 20px;
}

.tarjeta1 img,
.tarjeta2 img,
.tarjeta3 img {
    display: block; 
    margin: 0 auto; 
    transform: translateY(-55px);
}

.tarjeta1,
.tarjeta2,
.tarjeta3 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #b6b9cf;
    text-align: center; 
    flex: 0 0 calc(33.33% - 20px);
}

.tarjeta1 h3,
.tarjeta2 h3,
.tarjeta3 h3 {
    color: #232851;
}

.wide {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: center; /* Centra horizontalmente el contenido */
}
.more-button {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    background-color: #8B48BF;
    border-radius: 50px;
    padding: 15px;
    width: 130px;
    margin-top: 80px;
    border: none;
}
