body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}
header {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hamburger-icon {
    display: none;
}

nav .menu-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Estilos para el logo */
header .logo img {
    width: 100px;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #232851;
}

nav .hamburger-icon {
    display: none;
}

.contacto {
    background-color: #8B48BF;
    border-radius: 50px;
    padding: 15px;
}

/* Estilos para el botón de contacto */
.boton-contacto {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.seccion-alta {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.contenedor-imagen {
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-texto {
    flex: 40%;
    max-width: 40%;
    margin-right: 130px;
}
.contacto-2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #8B48BF;
    border-radius: 50px;
    padding: 15px;
    float: right;
}
.contenedor-texto h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #232851;
    font-size: 50px; 
    text-align: right;
}

.contenedor-texto h4 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
.seccion-central {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #8B48BF;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.contenedor-h2 {
    font-size: 25px;
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 90px;
}

.contenedor-h5 {
    flex: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    margin-left: 40px;
}

.contenedor-h2 h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

.contenedor-h5 h5 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white; 
}
/* Aqui comienza seccion listas-completas */

.listas-completas {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f2f2f2 ;
}

.list-section1 {
    display: flex;
}

.seccion-01,
.seccion-02,
.seccion-03 {
    flex: 1;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; 
}

.seccion-contenido {
    margin-bottom: 10px;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.seccion-01 img,
.seccion-02 img,
.seccion-03 img {
    max-width: 100px; 
    height: auto; 
    margin-right: 10px; 
}

.seccion-01 h4,
.seccion-02 h4,
.seccion-03 h4 {
    color: black;
    font-size: 14px; 
}

.listas-completas p {
    margin-left: 80px;
    color: rgb(196, 187, 187);
    font-size: 14px;
}

.seccion-03 {
    flex: 1;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #f2f2f2; 
    text-align: left; 
}

.seccion-03 p {
    margin-left: 42%; 
    margin-right: 10%;
}

/* Aqui comienza la seccion de tarjetas */

.best {
    text-align: center; 
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #232851;
    font-size: 35px;
    margin-top: 90px; 
}

.tarjetas-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 90px;
    background-color: #f2f2f2;
    padding: 20px;
}

.tarjeta1 img,
.tarjeta2 img,
.tarjeta3 img {
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    margin-bottom: -50px;
    display: block;
    margin: 0 auto;
}

.tarjeta1,
.tarjeta2,
.tarjeta3 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1em;
    color: #b6b9cf;
    text-align: center; 
    flex: 0 0 calc(33.33% - 20px);
}

.tarjeta1 h3,
.tarjeta2 h3,
.tarjeta3 h3 {
    color: #232851;
}

.wide {
    text-align: center; /* Centra horizontalmente el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more-button {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    background-color: #8B48BF;
    border-radius: 50px;
    padding: 15px;
    width: 130px;
    margin-top: 20px;
    border: none;
}

/* Aquí comienza la media Query */
@media (max-width: 480px) {

    nav {
        display: none;
    }

    .hamburger-icon {
        display: block;
        order: 2;
    } 

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; 
        }
    
    .logo img {
        max-width: 100px; 
    }
    
    .hamburger-icon {
        max-width: 30px;
        width: 40px;
        height: 30px;
    }

    .contacto {
        display: none;
    }
    .seccion-alta {
        flex-direction: column; /* Cambia la dirección de flex a columna */
    }
    
    .contenedor-imagen,
    .contenedor-texto {
        padding: 10px; 
    }
    
    .boton-contacto {
        display: block;
    }
    .contenedor-imagen,
    .contenedor-texto {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
    }

/* Estilos para la imagen */
    .contenedor-imagen img {
        max-width: 100%;
        height: auto;
    }
    
    .contenedor-imagen {
        max-width: none; /* Quita el max-width en dispositivos móviles */
        width: 100%; /* Establece el ancho al 100% (valor predeterminado) */
    }

/* Estilos para el contenedor de texto */
    .contenedor-texto {
        margin: 0 auto;
        font-size: 3vw; 
        max-width: 100%;
    }

    .seccion-central {
        background-color: #3CDDF3;
        flex-direction: column;
    }
    .contenedor-h2, .contenedor-h5 {
        width: 100%;
        max-width: 90%; 
        margin-right: 0; 
        margin-left: 0;
        padding-left: 20px;

    }
    .contenedor-h5 {
        margin-right: 20px
    }

    /* Aqui comienza seccionlistas completas*/
    .list-section1 {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .seccion-01, .seccion-02 {
        padding: 0;
        margin: 0px; 
    }
    .seccion-03 {
        padding-right: 10px;
        background-color: white;
        align-items: flex-start;
        padding: 0px;
        margin: 0px;
    }
    .tarjeta2 p {
        padding-left: 5%;
        padding-right: 5%;
    }

    .wide {
        margin-bottom: 5%;
    }
    
    .listas-completas {
        width: 100%;
        max-width: 100%;
        background-color: white;
    }
    .list-section1 .seccion-01 h4,
    .list-section1 .seccion-02 h4,
    .listas-completas .seccion-03 h4 {
        flex-grow: 1;
        background-color: #d0abec;
        width: calc(100% + 20px); 
        position: relative;
        z-index: 1;
        font-size: 10px;
        padding-top: 15px;
        padding-bottom: 15px
    }
    .seccion-01 h4 {
        padding-left: 30px;
        margin-left: -25px;
        padding-right: 80px;
        margin-right: 0;
    }
    .seccion-02 h4 {
        padding-left: 30px;
        margin-left: -25px;
        padding-right: 110px;
        margin-right: 0;
    }
    .seccion-03 h4 {
        padding-left: 30px;
        margin-left: -25px;
        padding-right: 60px;
        margin-right: 0;
    }

    .list-section1 h1,
    .listas-completas .seccion-03 h1 {
        margin: 0;
        position: relative;
        z-index: 2;
    }

    .seccion-01 img,
    .seccion-02 img,
    .seccion-03 img {
        z-index: 2; 
    }

    .listas-completas p {
        margin-left: 5%;
    }

    .seccion-01,
    .seccion-02,
    .seccion-03 {
        display: block;
}
    

/* Aquí comienza sección tarjetas*/
    .tarjetas-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .tarjeta1, .tarjeta3 {
        display: none;
    }
    .tarjeta2 {
        background-color: #f2f2f2;
        width: 100%;
    }
    .tarjeta2 img {
        margin-top: 30px;
    }
    .tarjeta2 h3 {
        margin-top: 0px;
    }
     .primera{
        background-color: #3CDDF3;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .dentro {
        background-color:#232C50;
        color: #fff;
    }

    .termina {
        flex-direction: row-reverse;
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    .lista { 
        display: flex;
        flex-direction: row;
        font-family: 'Be Vietnam Pro', sans-serif;
        padding-top: 70px;
        padding-bottom: -500px;
    }

    .lista .columna1 {
        padding-right: 40px;
    }
    
    label {
        display: flex;
        flex-direction: row;
        margin: 25px;
        position: absolute;
        padding-top: 20px;

    }

   .logo {
    order: 1;
    margin-left: 150px;
    padding-bottom: 20px;
   }

   .img {
    padding-bottom: 25px;

   }

   .iconos {
    padding-left: 45px;
   }

   .segunda {
    justify-content: left;
   }

   input {
    width: 300px;
    height: 35px;
    justify-content: center;
    }

    .final h5 {
     position: absolute;
     padding-top: 405px;
     margin-left: 90px;
    }
    
    
}
